:root {
    --primary-color: #e57373;
    --primary-text-color: #e57373;
    --sec-text-color: #9e9e9e;
    --header-height: 5vh;
}

body {
    font-size: 2em;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: var(--header-height);
    min-height: 60px;
}

main {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

header h1 {
    color: var(--primary-text-color);
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
}

.row {
    padding: .15em 0;
    margin-bottom: 20px;
}

.form input[type="text"]
{
    color: var(--primary-text-color);
    width: 35%;
    min-width: 4em;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    text-align: center;
}

input[name="end-time"]
{
    margin-bottom: 20px;
}

.title {
    color: var(--sec-text-color);
    font-size: .8em;
}

.counter {
    color: var(--primary-color);
    font-size: 1.5em;
}

.presets .side {
    display: inline-block;
}

.presets button {
    cursor: pointer;
    color: var(--sec-text-color);
    background: transparent;
    border: 1px solid var(--sec-text-color);
    border-radius: 5px;
    padding: 10px 5px;
    font-size: .5em;
    transition: all .05s linear;
}

.presets button:hover,
.presets button:active {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.presets button:active {
    transform: scale(.85);
}

@media all and (max-width: 767px) {
    .presets button {
        font-size: .45em;
    }

    .presets .side:first-child {
        margin-bottom: 2px;
    }
}