/* UI Elements */
select {
    color: var(--text-color);
    background: transparent;
    padding: 6px 10px;
    border: 1px solid var(--sec-color);
    border-radius: 5px;
}

/* Controls */
.controls .control {
    position: relative;
    z-index: 10;
}

.control-button {
    cursor: pointer;
    display: block;
    transition: all .15s linear;
}

.control-button>.icon {
    width: 32px;
    height: 32px;
}

.control-button:hover, .control-button:active {
    transform: scale(1.15);
}

.control-body {
    display: none;

    position: absolute;
    top: 42px;
    right: 0;
    width: 300px;

    color: var(--text-color);
    background: var(--background-color);

    padding: 10px;
    border-radius: 5px;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

    font-size: .45em;
    font-weight: 500;

    z-index: 10;
}

.control-body .close {
    display: none;
}

.control-body .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 8px;
    margin-bottom: 8px;

    border-bottom: 1px solid var(--sec-color);
}

.control-body .row:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.control-body .row:last-child {
    border-bottom: none;
}

.control-switch:checked+.control-body {
    display: block;
}

.text-label {
    display: inline-block;
}

.sound-selector select {
    width: 100%;
}

/* Switch element */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #e57373;
}

input:focus+.slider {
    box-shadow: 0 0 1px #e57373;
}

input:checked+.slider:before {
    transform: translateX(17px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


@media (orientation: portrait) {
    select {
        padding: 10px;
    }

    .control-body {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: unset;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: .65em;
        font-weight: 400;
    }

    .control-body .close {
        cursor: pointer;
        display: block;

        position: absolute;
        right: 25px;
        top: 25px;
    }

    .control-body .row {
        width: 80vw;
        border: none;
        padding-bottom: 0;
        margin-bottom: 20px;
    }

    .control-body .close .icon {
        width: 40px;
        height: auto;
    }

    .control-switch:checked+.control-body {
        display: flex;
    }
}